@media screen and (max-width: 1200px) {
    .wrapper{
        max-width: 970px;
    }
    .card-container{
        justify-content: space-evenly
    }
    .card{
        margin-bottom: 40px;
    }

}
@media screen and (max-width: 1100px) {

    input { font-size: 15px; }
}
@media screen and (max-width: 1000px) {
    .wrapper{
        max-width: 770px;
    }
    .header-button{
        font-size: 11px;
        height: auto;
    }
    nav>a{
        font-size: 12px;
    }
    .main-text{
        font-size: 36px;
    }
    .tab-icon{
        object-fit: contain;
    }
    .tab-text{
        font-size: 18px;
    }
    .form-input{
        width: auto;
    }
    .service-header{
        font-size: 30px;
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .services{
        margin-bottom: 30px;
    }
    .service-img>img{
        width: 100%;
    }
    .service{
        width: 60%;
    }
    .form-text{
        font-size: 16px;
    }
    .section-title{
        font-size: 30px;
    }
    .section-header{
        margin-bottom: 40px;
    }
    .mb55{
        margin-bottom: 32px;
    }
    .w415{
        width: 415px;
        margin-bottom: 15px;
    }
    .sert-img{
        max-height: 220px;
    }
    .mb130{
        margin-bottom: 60px;
    }
    .pt90{
        padding-top: 45px;
    }
    .h40{
        height: 40px;
    }
    .tab-text{
        margin: auto 10px auto 0;
        
    }
    .consultation{
        margin-top: 5px;
        font-size: 23px;
    }
}
@media screen and (max-width: 790px){
    .wrapper{
        max-width: 570px;
    }
    header{
        padding-bottom: 0;
    }
    nav{
        display: none;
    }
    .header-telefon{
        margin-right: 10px;
        align-self: center;
    }
    .telefon-link{
        font-size: 16px;
    }
    .telefon-text {
        display: none;
    }
    .main{
        padding: 50px 0;
    }
    .main-offer{
        margin-bottom: 0;
    }
    
    .main-text{
        font-size: 30px;
    }
    .b01{
        display: none;
    }
    .tab-text{
        font-size: 15px;
    }
    .service{
        width: 100%;
    }
    .section-form{
        flex-direction: column;
        background:rgba(207, 236, 255, .2) url(../img/answer.png) no-repeat 90% 100%;
    }
    .form-description{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 0 20px 0;
        align-items: center;
        justify-content: center;

    }
    .form-title{
        margin-bottom: 8px;
    }
    .free{
        margin-bottom: 10px;
    }
    .form-text{
        text-align: center;
    }
    .main-form{
        margin: 0 5px;
    }
    .sert-cards{
        justify-content: space-around;
    }
    .advantages-card{
        flex: 1 0 45%;
    }
    .card{
        max-width: 400px;
    }
    .contacts-about{
        margin-right: 20px;
    }
    .black{
        font-size: 30px;
    }
}
@media screen and (max-width: 590px) {
    .wrapper{
        max-width: 380px;
    }
    .telefon-link{
        display: none;
    }
    .main-text{
        font-size: 22px;
    }
    .black{
        font-size: 22px;
    }
    .main-icons{
        flex-direction: column;
    }
    .main-tab{
        margin-bottom: 10px;
    }
    .w415{
        width: 370px;
    }
    .first-screen-button{
        width: 370px;
    }
    .button{
        font-size: 13px;
    }
    .service-container{
        flex-direction: column-reverse;
    }
    input{
        font-size: 12px;
    }
    .form-wrapper{
        padding: 24px 0 0 5px;
    }
    .contacts-cont{
        flex-direction: column;
    }
    .footer-top{
        flex-direction: column;
    }
    .tel-footer{
        font-size: 14px;
    }
}